<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BreakBricks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC6A84B21C3C683500CB8887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC6A84CD1C3C683600CB8887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC6A84D81C3C683600CB8887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
